* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  background-color: transparent;
  position: relative;

  &:focus {
    outline: 0;
  }
}

ol {
  margin-left: 20px;
}

.wrapper {
  max-width: 1440px;
  // margin: 0 auto;
  padding: 0 5%;
}

body {
  // background-color: rgb(78, 78, 83);
  // color: white;
}

a {
  // color: white;
}

.mainNav {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__linkItem {
    padding: 0 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    transition: all 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}

.write {
  &__wrapper {
    max-width: 800px;
    margin: 64px auto;
  }

  &__input {
    width: 100%;
    border: solid 1px #cdcdde;
    margin-bottom: 8px;
    padding-left: 20px;
    height: 40px;

    &:focus {
      border-bottom: solid 1px #babad3;
    }
  }

  &__submit {
    height: 40px;
    padding: 0 24px;
    width: 100%;
    border-radius: 8px;
    background-color: #3d3aa1;
    color: white;
    border: 0px;
    transition: all 0.2s ease;
    cursor: pointer;
    margin-top: 20px;

    &:hover {
      opacity: 0.7;
    }
  }
}

.notification {
  margin-top: 20px;
  a {
    margin-left: 8px;
    transition: all 0.2s ease;
    color: blue;

    &:hover {
      opacity: 0.7;
    }
  }
}

.post {
  &__wrapper {
    max-width: 1440px;
    // margin: 0 auto;
    padding: 0 5%;
  }

  &__heading {
    display: flex;
    align-items: center;
  }

  &__edit {
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-left: 24px;

    &:hover {
      opacity: 0.6;
      transform: scale(1.2);
    }
  }

  &__item {
    // border: solid 1px #ccced7;
    padding: 20px;
    margin-bottom: 20px;
  }

  img {
    margin-top: 8px;
    width: 100%;
  }
}

.lists {
  margin-bottom: 20px;

  &__link {
    transition: all 0.2s ease;
    color: blue;

    > a {
      font-size: 20px;
      font-weight: bold;

      &:hover {
        color: gray;
      }
    }

    ol li {
      transition: all 0.2s ease;

      &:hover {
        color: gray;
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
